*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
#left{
    display: flex;
}
nav h3{
    font-size: 20px;
    font-weight: 500;
    border: 1.5px solid black;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
}
nav i{
    font-size: 19px;
    font-weight: 500;
    border: 1.5px solid black;
    padding: 5px 8px;
    border-radius: 50px;
    cursor: pointer;
}
nav h1{
    font-size: 27px;
    font-weight: 600;
    text-transform: uppercase;
}
nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
}

#btn{
    background-color: orangered;
    color: white;
}
#main>h1{
    font-size: 100px;
    font-weight: bolder;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%,-50%);
}
#img1{
    transform: translate(-50%,-50%) rotate(-10deg);
    transition: transform 0.7s linear 0.2s;
}
#img2{
    transform: translate(-50%,-50%) rotate(-7deg);
    transition: transform 0.7s linear 0.5s;
}#img3{
    transform: translate(-50%,-50%) rotate(-5deg);
    transition: transform 0.7s ease-in 0.8s;
}
#img4{
    transform: translate(-50%,-50%) rotate(0deg);
    transition: transform 0.7s linear 1.1s;
}
#img:hover{
    #img1{
        transform: translate(-50%,-50%) rotate(-30deg);
    }
    #img2{
        transform: translate(-50%,-50%) rotate(-20deg);
    }#img3{
        transform: translate(-50%,-50%) rotate(-10deg);
    }
    #img4{
        transform: translate(-50%,-50%) rotate(5deg);   
    }
}

#btm-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
}
#closing{
    color: rgb(197, 9, 9);
}
#btm-right{
    position: absolute;
    bottom: 5%;
    right: 5%;

}
#sm{
    font-size: 29px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
